[submodule "UE4VoxelTerrain/Plugins/UnrealSandboxTerrain"]
	path = UE4VoxelTerrain/Plugins/UnrealSandboxTerrain
	url = https://github.com/RonYanDaik/UnrealSandboxTerrain.git
[submodule "UE4VoxelTerrain/Plugins/UnrealSandboxToolkit"]
	path = UE4VoxelTerrain/Plugins/UnrealSandboxToolkit
	url = https://github.com/RonYanDaik/UnrealSandboxToolkit.git
